.formContainer {
  align-items: center;
  background-color: rgb(30, 241, 171);
  color: white;
  display: flex;
  height: 640px;
  justify-content: center;
  width: 360px;
}

.form {
  max-width: 250px;
  text-align: center;
}

.form button {
  background-color: lime;
  margin-top: 35px;
  opacity: 100%;
  transition: 400ms;
  width: 85%;
}

.form button:disabled {
  background-color: rgb(240, 241, 239);
  cursor: not-allowed;
  opacity: 100%;
  transition: 400ms;
  width: 85%;
}
