.ImgHeader {
  object-fit: cover;
  height: 155px;
  width: 100%;
}
/* Ref.: https://pqina.nl/blog/resize-images-proportionally-while-keeping-the-aspect-ratio/ */

.NameAndIconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  font-family: Roboto;
  font-weight: 400, Regular;
  size : 30px;
  line-height: 35.16px;
}

.Instructions {
  background-color: rgba(236, 236, 236, 1);
}

.Iframe {
  width: 100%;
}

.ButtonStart {
  background-color: red;
}
