body {
    min-height: 100vh;
    display: flex;
}

.ProfileContentButton {
    width: 329px;
    height: 53px;  
    background: #C4C4C4;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    font-size: 25px;
  }

  .ProfileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .ProfileContent p {
    font-size: 25px;
    text-align: center;
  }

  .ProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 116px);
  }
