.Header {
  align-items: center;
  background-color: rgb(168, 168, 168);
  display: flex;
  height: 58px;
  /* justify-content: space-between; */
  width: 100%;
  padding: 0 16px;
  column-gap: 16px;
}

.Header button {
  background-color: transparent;
  border: none;
  /* height: 40px; */
  /* margin: 10px; */
  width: auto;
}

/* .Header img {
  height: 40px;
} */

.Header h2 {
  text-align: center;
  width: calc(100% - 46px * 2);
}